.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg {
  background-color: #7d27c9;
  min-height: 100vh;
}
.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.selected-player {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.remove-button {
  cursor: pointer;
}
.center {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.center h4 {
  color: #555;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
